header {
    padding: 6px 0;
    text-align: left;
    border: 3px;
    border-color: black;
    border-start-end-radius: 20px 20px;
    border-start-start-radius: 20px 20px;
    border-end-start-radius: 20px 20px;
    border-end-end-radius: 20px 20px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }

  h1 {
    margin-top: 0px;
    margin-left: 15px;
    font-size: 30px;
    font: Garamond;
  }

  h4 {
    margin-top: 0;
    font-size: 20px;
    font: Garamond;
    text-align: center;
  }
  
  .image{
    border-style:solid;
    border-color:black;
    border: 10px;
  }

  .main-content {
    padding-top: 10px;
    padding-left: 51px;
    padding-right: 51px;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
  }
  
  .artifact {
    background-color: #f1f2ee;
    border: 3px solid #c9c5c5;
    border-radius: 5px;
    padding: 1rem 0;
    margin: 5px;
    
  }

  .artifact-image {
    padding-bottom: 0px;
  }
  
  .artifact-detail {
    padding-left: 5px;
    font-family: serif, Garamond;
    font-size: 15px;
    column-span: all;
  }
  
  .artifact-location {
    padding-left: 5px;
    font-weight: bold;
    font-size: 15px;
    text-align: left;
    font-family: serif, Garamond;
  }

  .artifact-date {
    padding-left: 5px;
    font-weight: bold;
    font-size: 15px;
    text-align:left;
    font-family: serif;
    font: Georgia;
  }

  .original-date {
    padding-left: 5px;
    font-weight: bold;
    font-size: 15px;
    text-align: left;
    font-family: serif, Garamond;
  }
  
  /*Login section!*/

  .mainContainer {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: white;
  }
  
  .titleContainer {
    display: flex;
    flex-direction: column;
    font-size: 40px;
    padding-bottom: 10px;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
  }

  .buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 260px;
   
  }

  input[type='button'] {
    border: none;
    background: #ecefe4;
    color: black; /* change this color */
    padding: 12px 24px;
    margin: 8px;
    font-size: 24px;
    border-radius: 8px;
    cursor: pointer;
    font-family: serif, Garamond;
    border-width: 2px;
    border-color: #b5b2b2;
    border-style: groove;

  }

  .inputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 5px;
  }
  
  .inputContainer > .errorLabel {
    color: red;
    font-size: 12px;
  }

  .inputBox {
    height: 40px;
    width: 350px;
    font-size: large;
    border-radius: 8px;
    border: 1px solid grey;
    padding-left: 8px;
    padding-bottom: 0px;
  }

  .inputButton:hover {
    background: #d1d3cc
  }

  .showPwLabel {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: right;
  }

  /*NavBar here!*/

  .NavbarItems{
    background-color: #ecefe4;
    height: 70px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .NavbarLogo {
    padding-top: 30px;
  }

 .nav-menu{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    text-align: center;
    width: 90vw;
    justify-content: end;
    margin-right: 2rem;
  }

  .nav-links {
    color: black;
    text-decoration: none;
    padding: 0.5rem 1rem;
  }

  .nav-links:hover {
    background-color: #d1d3cc;
    border-radius: 4px;
  }

  .fa-bars {
    color: black;
  }


@media screen{
    .NavbarItems {
      position: relative;
    }

    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 500px;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 0;
      transition: all 0.5s ease;
    }

    .nav-menu.active {
      background: white;
      left: 0;
      right: 20px;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }

    .nav-links {
      text-align: center;
      padding: 27px;
      width: 100%;
      display: table;
    }

    .nav-links:hover {
      background-color: grey;
      border-radius: 0;
    }

    .NavbarLogo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(25%, 50%);
    }

    .MenuIcon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }

    .fa-xmark {
      font-size: 2rem;
    }

    Button {
      display: none;
    }
  }