/*div {
  column-count: 2;
  column-width: 100px;
  column-gap: 40px;
  column-rule-style: solid;
  column-rule-width: 1px;
}*/


header {
    padding: 6px 0;
    background-color: #ecefe4;
    text-align: left;
    border: 3px;
    border-start-end-radius: 20px 20px;
    border-start-start-radius: 20px 20px;
    border-end-start-radius: 20px 20px;
    border-end-end-radius: 20px 20px;
  }

  h1 {
    margin-top: 15px;
    margin-left: 15px;
    font-size: 30px;
    font: Garamond;
  }

  h4 {
    margin-top: 0;
    font-size: 20px;
    font: Garamond;
    text-align: center;
  }
  
  .image{
    border-style:solid;
    border-color:black;
    border: 10px;
  }

  .main-content {
    padding-top: 10px;
    padding-left: 51px;
    padding-right: 51px;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
  }
  
  .artifact {
    background-color: #ecefe4;
    border: 3px solid #c9c5c5; /*doesn't work for some reason...*/
    border-radius: 5px;
    padding: 1rem 0;
    margin: 5px;
    
  }
  
  .artifact-detail {
    padding-left: 5px;
    font-family: serif, Garamond;
    font-size: 15px;
    column-span: all;
  }
  
  .artifact-location {
    padding-left: 5px;
    font-weight: bold;
    font-size: 15px;
    text-align: left;
    font-family: serif, Garamond;
  }

  .artifact-date {
    padding-left: 5px;
    font-weight: bold;
    font-size: 15px;
    text-align:left;
    font-family: serif;
    font: Georgia;
  }

  .original-date {
    padding-left: 5px;
    font-weight: bold;
    font-size: 15px;
    text-align: left;
    font-family: serif, Garamond;
  }
  
  /*login section!*/

  .mainContainer {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
  }
  
  .titleContainer {
    display: flex;
    flex-direction: column;
    font-size: 40px;
    padding-bottom: 10px;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
  }

  .buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 260px;
   
  }

  input[type='button'] {
    border: none;
    background: #ecefe4;
    color: black; /* change this color */
    padding: 12px 24px;
    margin: 8px;
    font-size: 24px;
    border-radius: 8px;
    cursor: pointer;
    font-family: serif, Garamond;
    border-width: 2px;
    border-color: #b5b2b2;
    border-style: groove;

  }

  .inputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 5px;
  }
  
  .inputContainer > .errorLabel {
    color: red;
    font-size: 12px;
  }

  .inputBox {
    height: 40px;
    width: 350px;
    font-size: large;
    border-radius: 8px;
    border: 1px solid grey;
    padding-left: 8px;
    padding-bottom: 0px;
  }

  .inputButton:hover {
    background: #d1d3cc
  }

  /*NavBar here!*/

  